input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.charity-subtext {
    font-size: 22px;
    font-family: var(--charity-subtext-font-family);
    color: var(--charity-subtext-font-color);
    text-align: center;
    max-width: 820px;
    margin: 0 auto 24px auto;
}

.donate-form {
    max-width: 820px;
    margin: 0 auto;
}

.input-div {
    display: block;
}

.input-div label {
    font-size: 16px;
    margin-left: 3px;
    cursor: default;
    color: var(--input-label-text-color);
}

.input-div input {
    color: var(--input-foreground-color);
    background-color: var(--input-background-color);
    border-width: var(--input-border-thickness);
    border-style: solid;
    border-color: var(--input-border-color);
    border-radius: var(--input-border-radius);
    font-family: var(--input-font-family);

    width: calc(100% - 18px);
    height: 26px;
    padding: 4px 8px;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
}

.input-div textarea {
    color: var(--input-foreground-color);
    background-color: var(--input-background-color);
    border-width: var(--input-border-thickness);
    border-style: solid;
    border-color: var(--input-border-color);
    border-radius: var(--input-border-radius);
    font-family: var(--input-font-family);

    width: calc(100% - 18px);
    height: 90px;
    padding: 6px 8px;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
    resize: vertical;
    line-height: 1.4;
}

.input-div input:hover {
    color: var(--input-hover-foreground-color);
    background-color: var(--input-hover-background-color);
    border-color: var(--input-hover-border-color);
}

.input-div input:focus {
    color: var(--input-focus-foreground-color);
    background-color: var(--input-focus-background-color);
    border-color: var(--input-focus-border-color);
}

.input-div textarea:hover {
    color: var(--input-hover-foreground-color);
    background-color: var(--input-hover-background-color);
    border-color: var(--input-hover-border-color);
}

.input-div textarea:focus {
    color: var(--input-focus-foreground-color);
    background-color: var(--input-focus-background-color);
    border-color: var(--input-focus-border-color);
}

.input-div .currency-symbol {
    position: relative;
    width: 20px;
    font-family: var(--input-font-family);
    color: var(--input-foreground-color);
    font-size: 16px;
    pointer-events: none;
    text-align: center;
    left: 5px;
    top: -29px;
}

.input-div.amount input {
    width: calc(100% - 40px);
    padding: 4px 8px 4px 30px;
}

.input-div .input-count {
    position: relative;
    font-family: var(--input-label-font-family);
    color: var(--input-foreground-color);
    font-size: 12px;
    top: -18px;
    right: 5px;
    text-align: right;
    pointer-events: none;
}

.input-div .input-subtext {
    font-size: 14px;
    margin: -15px 0 0 3px;
    color: var(--input-subtext-text-color);
    font-family: var(--input-subtext-font-family);
    cursor: default;
}

.input-div.amount .input-subtext {
    margin: -20px 0 0 3px;
}

.input-div .error-text {
    font-size: 14px;
    margin: -2px 0 0 3px;
    color: var(--input-error-text-color);
    font-family: var(--input-error-font-family);
    cursor: default;
    visibility: hidden;
}

form h2 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 8px;
}

.incentive-label-text {
    font-size: 16px;
    font-family: var(--incentive-font-family);
}

.add-incentive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34px;
    padding: 6px;
    font-size: 16px;
    font-family: var(--incentive-font-family);
    cursor: pointer;
    margin: 16px 0;

    color: var(--incentive-add-button-foreground-color);
    background-color: var(--incentive-add-button-background-color);
    border: var(--incentive-add-button-border-thickness) solid var(--incentive-add-button-border-color);
    border-radius: var(--incentive-add-button-border-radius);
}

.add-incentive:hover {
    cursor: pointer;
    color: var(--incentive-add-button-hover-foreground-color);
    background-color: var(--incentive-add-button-hover-background-color);
    border-color: var(--incentive-add-button-hover-border-color);
}

.add-incentive:hover:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: var(--incentive-add-button-foreground-color);
    background-color: var(--incentive-add-button-background-color);
    border-color: var(--incentive-add-button-border-color);
}

.incentive-list-div {
    width: calc(100% - 2px);
    height: 450px;
    display: flex;
    margin: 16px 0;
    overflow: hidden;

    border: var(--incentive-container-border-thickness) solid var(--incentive-container-border-color);
    border-radius: var(--incentive-container-border-radius);

}

.incentive-list {
    width: 35%;
    border-right: var(--incentive-container-border-thickness) solid var(--incentive-container-border-color);
    overflow-y: auto;
}

.incentive-list-element {
    background-color: var(--incentive-list-background-color);
    border-top: var(--incentive-list-border-thickness) solid var(--incentive-list-border-color);
    border-bottom: var(--incentive-list-border-thickness) solid var(--incentive-list-border-color);
    cursor: pointer;
    padding: 6px;
}

.incentive-list-element:hover {
    background-color: var(--incentive-list-hover-background-color);
}

.incentive-list-element.selected {
    background-color: var(--incentive-list-selected-background-color);
}

.incentive-list-game {
    color: var(--incentive-list-game-color);
    font-family: var(--incentive-list-game-font-family);
    font-weight: 800;
    font-size: 16px;
}

.incentive-list-name {
    color: var(--incentive-list-name-color);
    font-family: var(--incentive-list-name-font-family);
    font-size: 14px;
}

.incentive-list-game:hover {
    color: var(--incentive-list-hover-game-color);
}

.incentive-list-name:hover {
    color: var(--incentive-list-hover-name-color);
}

.incentive-list-game.selected {
    color: var(--incentive-list-hover-game-color);
}

.incentive-list-name.selected {
    color: var(--incentive-list-hover-name-color);
}

.incentive-details-div {
    width: 65%;
    padding: 16px;
    color: var(--incentive-details-foreground-color);
    background-color: var(--incentive-details-background-color);
    font-family: var(--incentive-details-font-family);
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 640px) {

    .incentive-list {
        width: 100%;
        height: 250px;
        flex-grow: 1;
        border-right: none;
        border-bottom: var(--incentive-container-border-thickness) solid var(--incentive-container-border-color);
    }

    .incentive-list-div {
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .incentive-details-div {
        width: 100%;
        height: 418px;
    }
}

.incentive-details-game {
    font-size: 24px;
    font-weight: 800;
    font-family: var(--incentive-details-game-font-family);
    color: var(--incentive-details-game-color);
    margin-bottom: 2px;
}

.incentive-details-name {
    font-size: 18px;
    color: var(--incentive-details-name-color);
    margin-bottom: 2px;
}

.incentive-details-description {
    font-size: 14px;
    margin-bottom: 16px;
}

.incentive-details-total {
    margin-bottom: 10px;
}

.incentive-total-progress {
    background-color: var(--incentive-details-progress-background-color);
    border: var(--incentive-details-progress-border-width) solid var(--incentive-details-progress-border-color);
    border-radius: var(--incentive-details-progress-border-radius);
    height: var(--incentive-details-progress-height);
    padding: 2px;
    margin-bottom: 4px;
}

.incentive-total-progress-bar {
    background-color: var(--incentive-details-progress-foreground-color);
    border-radius: var(--incentive-details-progress-border-radius);
    height: 100%;
    margin: 0;
}

.incentive-total-text {
    font-size: 16px;
}

.input-div.incentive-amount label {
    font-size: 14px;
}

.input-div.incentive-amount input {
    width: calc(100% - 38px);
    padding: 4px 8px 4px 30px;

    color: var(--incentive-details-input-foreground-color);
    background-color: var(--incentive-details-input-background-color);
    border-width: var(--incentive-details-input-border-thickness);
    border-style: solid;
    border-color: var(--incentive-details-input-border-color);
    border-radius: var(--incentive-details-input-border-radius);
    font-family: var(--incentive-details-input-font-family);
}

.input-div.incentive-amount input:hover {
    color: var(--incentive-details-input-hover-foreground-color);
    background-color: var(--incentive-details-input-hover-background-color);
    border-color: var(--incentive-details-input-hover-border-color);
}

.input-div.incentive-amount input:focus {
    color: var(--incentive-details-input-focus-foreground-color);
    background-color: var(--incentive-details-input-focus-background-color);
    border-color: var(--incentive-details-input-focus-border-color);
}

.input-div.incentive-amount .currency-symbol {
    top: -29.5px;
}

.input-div.incentive-amount .input-subtext {
    margin: -20px 0 16px 3px;
}

.incentive-list-add-button {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    color: var(--incentive-confirm-button-foreground-color);
    background-color: var(--incentive-confirm-button-background-color);
    border: var(--incentive-confirm-button-border-thickness) solid var(--incentive-confirm-button-border-color);
    border-radius: var(--incentive-confirm-button-border-radius);
}

.incentive-list-add-button:hover {
    color: var(--incentive-confirm-button-hover-foreground-color);
    background-color: var(--incentive-confirm-button-hover-background-color);
    border-color: var(--incentive-confirm-button-hover-border-color);
}

.incentive-list-add-button:hover:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: var(--incentive-confirm-button-foreground-color);
    background-color: var(--incentive-confirm-button-background-color);
    border-color: var(--incentive-confirm-button-border-color);
}

.incentive-options-container {
    margin-bottom: 16px;
}

.incentive-option-checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    font-size: 16px;
    padding: 4px 8px;
    font-family: var(--incentive-details-font-family);
}

.incentive-option-checkbox-div-left {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 26px;
}

.incentive-option-checkbox-div * {
    pointer-events: none;
}

.incentive-option-checkbox-div:hover {
    background-color: var(--incentive-details-option-hover-background-color);
    cursor: pointer;
}

.incentive-option-checkbox-div.selected {
    background-color: var(--incentive-details-option-selected-background-color);
    cursor: default;
}

.incentive-option-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 5px 0;
}

.incentive-option-checkbox-text {
    display: inline-block;
    font-size: 16px;
    margin-left: 6px;
}

.incentive-custom-option-input-container {
    width: 100%;
}

.incentive-custom-option input.input {
    width: calc(100% - 46px);
    height: 26px;
    padding: 4px 8px;
    margin: 5px 0 5px 30px;
    pointer-events: all;

    color: var(--incentive-details-input-foreground-color);
    background-color: var(--incentive-details-input-background-color);
    border-width: var(--incentive-details-input-border-thickness);
    border-style: solid;
    border-color: var(--incentive-details-input-border-color);
    border-radius: var(--incentive-details-input-border-radius);
    font-family: var(--incentive-details-input-font-family);
}

.incentive-custom-option input.input:hover {
    color: var(--incentive-details-input-hover-foreground-color);
    background-color: var(--incentive-details-input-hover-background-color);
    border-color: var(--incentive-details-input-hover-border-color);
}

.incentive-custom-option input.input:focus {
    color: var(--incentive-details-input-focus-foreground-color);
    background-color: var(--incentive-details-input-focus-background-color);
    border-color: var(--incentive-details-input-focus-border-color);
}

.incentive-option-checkbox-div.custom-option {
    flex-direction: column;
    height: 72px;
}

.incentive-custom-option .input-count {
    position: relative;
    top: -24px;
    right: 3px;
    text-align: right;
    font-size: 12px;
    font-family: var(--incentive-details-input-font-family);
    color: var(--input-subtext-text-color)
}

.selected-incentives {
    margin-top: 10px;
}

.selected-incentives-info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 4px;
    font-size: 16px;

    font-family: var(--incentive-selected-font-family);
    color: var(--incentive-selected-foreground-color);
    background-color: var(--incentive-select-background-color);
    border-top: var(--incentive-selected-border-thickness) solid var(--incentive-selected-border-color);
    border-bottom: var(--incentive-selected-border-thickness) solid var(--incentive-selected-border-color);
}

.selected-incentives-game {
    font-size: 20px;
    font-weight: 800;
    font-family: var(--incentive-selected-game-font-family);
    color: var(--incentive-selected-game-color);
}

.selected-incentives-name {
    font-size: 16px;
    font-family: var(--incentive-selected-name-font-family);
    color: var(--incentive-selected-name-color);
}

.selected-incentives-option {
    font-size: 16px
}

.selected-incentives-amount {
    text-align: right;
    font-size: 20px;
}

.remove-incentive-button {
    margin-top: 8px;
    padding: 6px 12px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--incentive-selected-button-foreground-color);
    background-color: var(--incentive-selected-button-background-color);
    border: var(--incentive-selected-button-border-thickness) solid var(--incentive-selected-button-border-color);
    border-radius: var(--incentive-selected-button-border-radius);
}

.prize-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: var(--prize-list-foreground-color);
    flex-wrap: wrap;
    justify-content: space-between;
}

.prize-text {
    font-size: 16px;
    width: 58%;
    min-width: 300px;
    flex-grow: 1;
}

.prize-list {
    min-width: 275px;
    width: 38%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;


    background-color: var(--prize-list-background-color);
    border: var(--prize-list-border-thickness) solid var(--prize-list-border-color);
    border-radius: var(--prize-list-border-radius);
}

.prize-list-element {
    padding: 8px;
    background-color: var(--prize-list-item-background-color);
    border-top: var(--prize-list-item-border-thickness) solid var(--prize-list-item-border-color);
    border-bottom: var(--prize-list-item-border-thickness) solid var(--prize-list-item-border-color);
    cursor: pointer;
}

.prize-list-element:hover {
    background-color: var(--prize-list-item-hover-background-color);
}

.prize-list-name {
    font-family: var(--prize-list-item-name-font-family);
    color: var(--prize-list-item-name-color);
    font-size: 16px;
    font-weight: 800;
}

.prize-list-donation {
    font-family: var(--prize-list-item-donation-font-family);
    color: var(--prize-list-item-donation-color);
    font-size: 14px;
}

.prize-popup-background {
    visibility: hidden;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition-duration: 0.5s;
    background-color: var(--prize-popup-shadow-color);
}

.prize-popup-background.show {
    visibility: visible;
    pointer-events: all;
    opacity: 0.75;
    transition-duration: 0.5s;
    z-index: 50;
}

body.noScroll {
    overflow: hidden;
}

.prize-popup-div {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;
    padding: 24px;
    border-radius: 25px;
    overflow-y: auto;
    overflow-x: hidden;

    width: 70%;
    max-height: 80vh;
    max-width: 600px;

    background-color: var(--prize-popup-background-color);
    color: var(--prize-popup-foreground-color);
    font-family: var(--prize-popup-font-family);
    font-size: 16px;
}

.prize-popup-div.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transition-duration: 0.5s;
    z-index: 100;
}

.prize-popup-div div {
    margin: 1px 0;
}

.prize-popup-name {
    font-size: 32px;
    text-align: center;
    font-weight: 800;
    color: var(--prize-popup-name-color);
    font-family: var(--prize-popup-name-font-family);
}

.prize-popup-description {
    margin-bottom: 12px !important;
}

.prize-popup-close-button {
    width: 100%;
    height: 46px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;

    font-family: var(--prize-popup-button-font-family);
    color: var(--prize-popup-button-foreground-color);
    background-color: var(--prize-popup-button-background-color);
    border: var(--prize-popup-button-border-thickness) solid var(--prize-popup-button-border-color);
    border-radius: var(--prize-popup-button-border-radius);
}

.prize-popup-close-button:hover {
    color: var(--prize-popup-button-hover-foreground-color);
    background-color: var(--prize-popup-button-hover-background-color);
    border-color: var(--prize-popup-button-hover-border-color);
}

.prize-popup-img {
    max-width:100%;
    margin: 16px 0 8px 0;
    border-radius: 25px;
}

form .donate-button-container {
    margin-top: 16px;
}

.warning-text {
    color: var(--error-text-color);
    font-family: var(--error-text-font-family);
    font-size: 14px;
    margin-bottom: 2px;
    text-align: center;
    visibility: visible;
}

form .donate-button-container .donate-button {
    width: 100%;
    height: 46px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-family: var(--donate-button-font-family);
    color: var(--donate-button-foreground-color);
    background-color: var(--donate-button-background-color);
    border: var(--donate-button-border-thickness) solid var(--donate-button-border-color);
    border-radius: var(--donate-button-border-radius);
}

form .donate-button-container .donate-button:hover {
    color: var(--donate-button-hover-foreground-color);
    background-color: var(--donate-button-hover-background-color);
    border-color: var(--donate-button-hover-border-color);
}

form .donate-button-container .donate-button:disabled {
    color: var(--donate-button-foreground-color);
    background-color: var(--donate-button-background-color);
    border-color: var(--donate-button-border-color);

}

.redirect-text {
    font-size: 16px;
    margin-top: 16px;
    text-align: center;
    font-family: var(--error-text-font-family);
}

.hidden {
    display: none;
}

.warning-text.hidden {
    visibility: hidden;
    display: block;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}



















/* .content {
    width: 800px;
    margin: 0 auto;
    justify-content: center;
}

form {
    width: 100%;
}

form .inputDiv {
    display: block;
    height: 100%;
    margin-top: 5px;
}

.inputDiv .label {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 3px;
}

*:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.label.large {
    color: var(--donation-page-heading-color);
    font-family: var(--donation-page-heading-font-family);

    font-size: 28px;
    font-weight: bold;
    margin-left: 0;
}

.pageTitle {
    font-size: 36px;
    text-align: left;
    font-weight: bold;
}

.pageSubtitle {
    font-size: 16px;
    color: var(--donation-page-heading-color);
    font-family: var(--donation-page-heading-font-family);

    margin-bottom: 12px;
}

/* Text Inputs */
/* .inputDiv input {
    color: var(--input-foreground-color);
    background-color: var(--input-hover-background-color);
    border-width: var(--input-border-thickness);
    border-style: solid;
    border-color: var(--input-border-color);
    border-radius: var(--input-border-radius);
    font-family: var(--input-font-family);

    width: 100%;
    height: 26px;
    padding: 4px 8px;
    margin: 5px 0;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
}

.inputDiv input:hover {
    color: var(--input-hover-foreground-color);
    background-color: var(--input-hover-background-color);
    border-color: var(--input-hover-border-color);
}

.inputDiv input:focus {
    color: var(--input-focus-foreground-color);
    background-color: var(--input-focus-background-color);
    border-color: var(--input-focus-border-color);
} */

/* .inputDiv textarea {
    color: var(--input-foreground-color);
    background-color: var(--input-background-color);
    border-width: var(--input-border-thickness);
    border-style: solid;
    border-color: var(--input-border-color);
    border-radius: var(--input-border-radius);
    font-family: var(--input-font-family);

    flex: 1;
    width: 100%;
    height: 74px;
    padding: 8px 8px;
    margin: 5px 0;
    font-size: 16px;
    outline: none;
    resize: vertical;
} */

/* .inputDiv textarea:hover {
    color: var(--input-hover-foreground-color);
    background-color: var(--input-hover-background-color);
    border-color: var(--input-hover-border-color);
}

.inputDiv textarea:focus {
    color: var(--input-focus-foreground-color);
    background-color: var(--input-focus-background-color);
    border-color: var(--input-focus-border-color);
} 

.inputSubtext {
    font-size: 14px;
    margin-left: 3px;
    margin-top: -15px;
    cursor: default;
}

#amount .inputSubtext {
    margin-top: 0;
}

#amount .inputDiv {
    margin-right: 0;
}

#comment .inputSubtext {
    margin-top: -20px;
}

.inputDiv .errorText {
    color: var(--input-error-text-color);

    font-size: 14px;
    visibility: hidden;
    margin-left: 3px;
}

input[type=checkbox] {
    display: block;
    width: 26px;
    height: 26px;
} 

.inputUnit {
    font-family: var(--input-font-family);

    position: relative;
    font-size: 16px;
    top: 32px;
    left: -56px;
    pointer-events: none;
}

.inputUnitTest {
    font-family: var(--input-font-family);

    font-size: 16px;
}

.inputCount {
    font-family: var(--input-font-family);

    text-align: right;
    position: relative;
    font-size: 12px;
    top: -24px;
    right: -10px;
    pointer-events: none;
    width: auto;
    margin: 0;
}

.textareaDiv .inputCount {
    top: -28px;
}


#incentiveAdd {
    color: var(--incentive-add-button-foreground-color);
    background-color: var(--incentive-add-button-background-color);
    border-style: solid;
    border-width: var(--incentive-add-button-border-thickness);
    border-color: var(--incentive-add-button-border-color);
    border-radius: var(--incentive-add-button-border-radius);

    margin-top: 0;
    margin-bottom: 24px;
    width: calc(100% + 18px);
}

#incentiveAdd:hover {
    color: var(--incentive-add-button-hover-foreground-color);
    background-color: var(--incentive-add-button-hover-background-color);
    border-color: var(--incentive-add-button-hover-border-color);
}

#incentiveAdd:active {
    color: var(--incentive-add-button-click-foreground-color);
    background-color: var(--incentive-add-button-click-background-color);
    border-color: var(--incentive-add-button-click-border-color);
}

#incentiveAdd:disabled:hover {
    color: var(--incentive-add-button-foreground-color);
    background-color: var(--incentive-add-button-background-color);
    border-color: var(--incentive-add-button-border-color);
}
.incentiveDiv {
    border-color: var(--incentive-container-border-color);
    border-style: solid;
    border-radius: var(--incentive-container-border-radius);
    border-width: var(--incentive-container-border-thickness);

    width: calc(100% + 16px);
    height: 500px;
    display: none;
    margin-top: 16px;
    margin-bottom: 24px;
}

#incentives .inputSubtext {
    margin: 4px 0;
    font-size: 16px;
}
.incentiveList {
    background-color: var(--incentive-select-background-color);
    border-right: var(--incentive-container-border-thickness) solid var(--incentive-container-border-color);

    width: 35%;
    margin: 0;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: none;
}

.incentiveListDiv {
    background-color: var(--incentive-select-background-color);
    border-bottom: var(--incentive-select-border-thickness) solid var(--incentive-select-border-color);

    padding: 8px 8px;
}

.incentiveListDiv .incentiveGame {
    color: var(--incentive-select-game-color);
    font-weight: bold;
    font-size: 16px;
}

.incentiveListDiv .incentiveName {
    color: var(--incentive-select-name-color);
    font-size: 14px;
}

.incentiveListDiv:hover {
    background-color: var(--incentive-select-hover-background-color);
    cursor: pointer;
}

.incentiveListDiv:hover .incentiveGame {
    color: var(--incentive-select-hover-game-color);
}

.incentiveListDiv:hover .incentiveName {
    color: var(--incentive-select-hover-name-color);
}

.incentiveListDiv.selected {
    background-color: var(--incentive-select-selected-background-color);
}

.incentiveListDiv.selected .incentiveGame {
    color: var(--incentive-select-selected-game-color);
}

.incentiveListDiv.selected .incentiveName {
    color: var(--incentive-select-selected-name-color);
}

.incentiveInfo {
    color: var(--incentive-info-foreground-color);
    background-color: var(--incentive-info-background-color);

    flex-grow: 1;
    visibility: hidden;
    padding: 16px;
}

.incentiveInfo .incentiveGame {
    color: var(--incentive-info-game-color);
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

.incentiveInfo .incentiveName {
    color: var(--incentive-info-name-color);
    margin-bottom: 10px;
    font-size: 18px;
    cursor: default;
}

.incentiveInfo .incentiveDescription {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: default;
}

.incentiveTotalProgress {
    background-color: var(--incentive-info-progress-background-color);
    border: var(--incentive-info-progress-border-width) solid var(--incentive-info-progress-border-color);
    border-radius: var(--incentive-info-progress-border-radius);
    height: var(--incentive-info-progress-height);
    padding: 2px;
    margin-bottom: 4px;
}

.incentiveTotalProgressBar {
    background-color: var(--incentive-info-progress-foreground-color);
    border-radius: var(--incentive-info-progress-border-radius);
    height: 100%;
    margin: 0;
}

.incentiveTotal {
    display: none;
    margin-bottom: 16px;
    cursor: default;
}

.incentiveTotalText {
    font-size: 16px;
}

.incentiveInfo .label {
    padding-left: 4px;
    font-size: 14px;
}

#incentives .incentiveInfo .inputSubtext {
    margin-top: 0px;
    padding-left: 4px;
    font-size: 14px;
}

.incentiveInfo .inputUnit {
    color: var(--incentive-info-input-foreground-color);
    margin-left: -150px;
}

#incentiveAmount {
    width: calc(100% - 31px)
}

.incentiveInfo input[type=input] {
    color: var(--incentive-info-input-foreground-color);
    background-color: var(--incentive-info-input-hover-background-color);
    border-width: var(--incentive-info-input-border-thickness);
    border-style: solid;
    border-color: var(--incentive-info-input-border-color);
    border-radius: var(--incentive-info-input-border-radius);
    font-family: var(--incentive-info-input-font-family);
}

.incentiveInfo input[type=input]:hover {
    color: var(--incentive-info-input-hover-foreground-color);
    background-color: var(--incentive-info-input-hover-background-color);
    border-color: var(--incentive-info-input-hover-border-color);
}

.incentiveInfo input[type=input]:focus {
    color: var(--incentive-info-input-focus-foreground-color);
    background-color: var(--incentive-info-input-focus-background-color);
    border-color: var(--incentive-info-input-focus-border-color);
}

.incentiveOptions {
    display: none;
    margin-top: 16px;
}

.incentiveOptionDiv {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 4px 8px;
    cursor: pointer;
}

.incentiveOptionDiv:hover {
    background-color: var(--incentive-info-option-hover-background-color);
}

.incentiveOptionDiv.selected {
    background-color: var(--incentive-info-option-selected-background-color);
    cursor: default;
    pointer-events: none;
}

.incentiveOptionDiv .incentiveOptionCheck {
    color: var(--incentive-info-foreground-color);
    background-color: var(--incentive-info-background-color);

    width: 16px;
    height: 16px;
    margin-right: 6px;
    pointer-events: none;
}

.incentiveOptionDiv .incentiveOptionName {
    font-size: 16px;
    pointer-events: none;
}

.incentiveOptionDiv .incentiveOptionAmount {
    margin-left: auto;
    font-size: 16px;
    pointer-events: none;
}

.incentiveOptionDiv.customOption {
    width: calc(100% - 16px);
    display: inline-block;
    height: 72px;
    padding: 4px 8px;
    padding-top: 3px;
}

.incentiveOptionDiv.customOption.selected {
    pointer-events: none;
}

.incentiveOptionDiv.customOption .flexbox {
    display: flex;
    align-items: center;
}

.incentiveOptionDiv.customOption .incentiveOptionName {
    width: 200px;
}

.incentiveOptionDiv.customOption .incentiveCustomOption {
    width: calc(100% - 46px);
    margin-left: 20px;
    pointer-events: all;
}

.incentiveOptionDiv.customOption .inputCount {
    color: var(--incentive-info-input-foreground-color);
    font-family: var(--incentive-info-input-font-family);

    right: 17px;
    top: -23px;
}
#incentiveAddConfirm {
    color: var(--incentive-confirm-button-foreground-color);
    background-color: var(--incentive-confirm-button-background-color);
    border-style: solid;
    border-width: var(--incentive-confirm-button-border-thickness);
    border-color: var(--incentive-confirm-button-border-color);
    border-radius: var(--incentive-confirm-button-border-radius);

    margin-top: 16px;
    width: 100%;
}

#incentiveAddConfirm:hover {
    color: var(--incentive-confirm-button-hover-foreground-color);
    background-color: var(--incentive-confirm-button-hover-background-color);
    border-color: var(--incentive-confirm-button-hover-border-color);
}

#incentiveAddConfirm:active {
    color: var(--incentive-confirm-button-click-foreground-color);
    background-color: var(--incentive-confirm-button-click-background-color);
    border-color: var(--incentive-confirm-button-click-border-color);
}

#incentiveAddConfirm:disabled:hover {
    color: var(--incentive-confirm-button-foreground-color);
    background-color: var(--incentive-confirm-button-background-color);
    border-color: var(--incentive-confirm-button-border-color);
}

.incentiveAddButton {
    width: 100%;
    height: 34px;
    padding: 6px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
}

.incentiveSelected {
    width: calc(100% + 16px);
    margin: 24px 0;
    color: var(--incentive-selected-foreground);
    background-color: var(--incentive-selected-background);
    cursor: default;
}

.incentiveSelectedDiv {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-top: var(--incentive-selected-border-width) solid var(--incentive-selected-border-color);
    border-bottom: var(--incentive-selected-border-width) solid var(--incentive-selected-border-color);
}

.incentiveSelectedRightDiv {
    text-align: right;
    justify-content: flex-end;
}

.incentiveSelectedRightDiv button {
    color: var(--incentive-selected-button-foreground-color);
    background-color: var(--incentive-selected-button-background-color);
    border-style: solid;
    border-width: var(--incentive-selected-button-border-thickness);
    border-color: var(--incentive-selected-button-border-color);
    border-radius: var(--incentive-selected-button-border-radius);

    text-align: center;
    font-size: 14px;
    height: 32px;
    padding: 6px 12px;
    margin-top: 8px;
}

.incentiveSelectedRightDiv button:hover {
    color: var(--incentive-selected-button-hover-foreground-color);
    background-color: var(--incentive-selected-button-hover-background-color);
    border-color: var(--incentive-selected-button-hover-border-color);
}

.incentiveSelectedRightDiv button:active {
    color: var(--incentive-selected-button-click-foreground-color);
    background-color: var(--incentive-selected-button-click-background-color);
    border-color: var(--incentive-selected-button-click-border-color);
}

.incentiveSelectedDiv .incentiveGame {
    font-size: 20px;
    font-weight: bold;
}

.incentiveSelectedDiv .incentiveName {
    font-size: 16px;
}

.incentiveSelectedDiv .incentiveOption {
    margin-top: 10px;
    font-size: 16px;
}

.incentiveSelectedDiv .incentiveAmount {
    font-size: 20px;
}

.prizesLabel {
    color: var(--donation-page-heading-color);
    font-family: var(--donation-page-heading-font-family);

    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
    cursor: default;
}

#prizes {
    width: calc(100% - 8px);
    display: flex;
    height: 300px;
    margin-bottom: 16px;
}

.prizeText div {
    font-size: 16px;
    margin-bottom: 16px;
}

.prizeText {
    width: 60%;
    padding-right: 16px;
    cursor: default;
}

.prizeList {
    width: 40%;
    border: 1px solid var(--prize-list-border-color);
    border-radius: var(--prize-list-border-radius);
    overflow-y: auto;
    overflow-x: none;
}

.prizeList .prizeListDiv {
    color: var(--prize-list-item-foreground-color);
    background-color: var(--prize-list-item-background-color);
    border-bottom: var(--prize-list-item-border-thickness) solid var(--prize-list-item-border-color);

    border-radius: 0;
    padding: 8px;
}

.prizeList .prizeListDiv:hover {
    color: var(--prize-list-item-hover-foreground-color);
    background-color: var(--prize-list-item-hover-background-color);
}

.prizeList .prizeListDiv:focus {
    color: var(--prize-list-item-click-foreground-color);
    background-color: var(--prize-list-item-click-background-color);
}

.prizeListDiv p {
    margin: 0;
    cursor: default;
}

.prizeListDiv .prizeName {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.prizeListDiv .prizeAmount {
    font-size: 14px;
}

.incentiveErrorText {
    display: none;
    font-size: 14px;
    color: var(--incentive-error-text);
    margin-bottom: 6px;
}

.donateButton {
    color: var(--donate-button-foreground-color);
    background-color: var(--donate-button-background-color);
    border: var(--donate-button-border-thickness) solid var(--donate-button-border-color);
    border-radius: var(--donate-button-border-radius);

    width: calc(100% - 8px);
    height: 46px;
    padding: 8px 4px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.donateButton:hover {
    color: var(--donate-button-hover-foreground);
    background-color: var(--donate-button-hover-background);
    border-color: var(--donate-button-hover-border-color);
    cursor: pointer;
}

.donateButton:active {
    color: var(--donate-button-click-foreground);
    background-color: var(--donate-button-click-background);
    border-color: var(--donate-button-click-border-color);
}

.donateButton:disabled:hover {
    color: var(--donate-button-foreground-color);
    background-color: var(--donate-button-background-color);
    border: var(--donate-button-border-thickness) solid var(--donate-button-border-color);
    border-radius: var(--donate-button-border-radius);
    cursor: not-allowed;
}

.donateButtonCurrency {
    display: none;
}


#incentives.label {
    margin-top: 100px;
} */